body {
    background-image: url("images/sitebg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    min-height: 100vh;
}

.top-banner {
    background-color: #ff0505;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
    position: sticky;
    top: 60px;
    z-index: 9999;
    width: 100%;
    font-family: ubuntu, sans-serif;
    color: white;
    font-size: 15px;
    font-weight: light;
}

.announcement h1{
    font-family: ubuntu, sans-serif;
    color:bisque;
    text-align: center;
    margin-top: 100px;
    font-size: 30px
}

.announcement p{
    font-family: ubuntu, sans-serif;
    color:bisque;
    text-align: center;
    margin: 20px auto 0 auto;
    width: 60%;
    line-height: 1.6;
    font-size: 15px
}   

.announcement img{
    display: block;
    margin: 30px auto 0 auto;
    width: 300px;
    height: auto;
    border-radius: 10px;
}

.restricted-img{
    position: relative;
}

