* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-image: url("images/sitebg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    min-height: 100vh
}

.top-banner {
    background-color: #ff0505;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
    position: sticky;
    top: 60px;
    z-index: 9999;
    width: 100%;
    font-family: ubuntu, sans-serif;
    color: white;
    font-size: 15px;
    font-weight: light;
}

h1 {
    color: rgb(253, 253, 250);
    font-family: ubuntu, sans-serif;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 50px;
}

.page-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
    padding-bottom: 100px;
    max-width: 850px;
    justify-items: center;
    margin: 0 auto;
}

.page-list a {
    text-decoration: none;
    color: rgb(253, 253, 250);
    font-family: "Special Gothic Expanded One", sans-serif;
    text-align: center;
    display: block;
    width: 400px;
    height: 400px;
    background-color: rgb(30, 114, 86);
    align-content: end;
    padding-bottom: 50%;
    font-size: 25px;
}

.page-list a.armoury {
  background-image: url("images/assignment_1/abys-arm.png");
}

.page-list a.projects {
  background-image: url("images/assignment_1/proj.png");
}

.page-list a.miu-observatory {
  background-image: url("images/assignment_1/miu-obs.png");
}

.page-list a.self-intro {
  background-image: url("images/assignment_1/hammer.jpg");
}

p {
    color: rgb(253, 253, 250);
    font-family: ubuntu, sans-serif;
    text-align: center;
    padding-top: 20px;
}



