* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-image: url("../images/sitebg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    min-height: 100vh
}

.about {
    font-family: 'Ubuntu', sans-serif;
    color: white;
    text-align: center;
    margin-top: 100px;
    max-width: 800px;
    width: 90%;
    margin: 100px auto 70px auto;
}

.intro img {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    display: block;
    margin: 20px auto 0 auto;
}

.intro h1 {
    font-size: 36px;
    margin-bottom: 10px;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}

.intro p {
    font-size: 18px;
    margin: 20px auto 0 auto;
    width: 60%;
    line-height: 1.6;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    padding-top: 40px;
}

.art {
    font-size: 18px;
    margin: 20px auto 0 auto;
    width: 60%;
    line-height: 1.6;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}

.art img {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    display: block;
    margin: 20px auto 0 auto;
    margin-bottom: 50px;
}

.contact {
    font-size: 18px;
    margin: 20px auto 0 auto;
    width: 60%;
    line-height: 1.6;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    margin-bottom: 40px;
}

.contact a {
    background-color: #edefff;
    color: #f31616;
    padding: 5px 20px;
    border-radius: 20px;
    font-size: 15px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    font-weight: bolder;
}

.contact p {
    display: inline-block;
    text-align: center;
    margin-right: 30px;
}

.container {
    width: min(900px, 90%);
    margin: 120px auto 0;
    padding: 40px;
    color: white;
    font-family: ubuntu, san-serif;
}

.contact h1 {
    font-size: 48px;
    margin-bottom: 60px;
}

.contact p {
    font-size: 16px;
    line-height: 1.6;
    opacity: 0.85;
    margin-bottom: 24px;
    max-width: 65ch;
}

.contact-list {
    list-style: none;
    padding: 0;
    margin: 40px 0;
}

.contact-list li {
    font-size: 18px;
    margin-bottom: 12px;
}

.contact-list a {
    color: white;
    text-decoration: underline;
}