* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: ubuntu, sans-serif;
    color: rgb(213, 221, 223);
    margin: 0;
    padding: 0;
    background-color: rgb(0, 1, 3);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    min-height: 100vh;
}

.hero {
    background-image: url("images/assignment_3/headphones.jpg");
    background-size: cover;
    background-position: right center;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 1.2fr 0.8fr;
    align-items: start;
    padding: 40px 40px 0 140px;
    position: relative;
    min-height: 620px;
    padding-top: 95px
}

.hero-left {
    width: 60%;
    max-width: 900px;
}

.hero-img {
    width: 45%;
    height: auto;
    display: block;
    max-width: 800px;
    padding: 0;
    margin: auto;
}

.hero-inline-images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px
}

.hero-inline-img-1 {
    display: flex;
    max-width: 300px;
    width: 100%;
    margin: 10px;
    max-width: 260px;
    border-radius: 100%;
}

.hero-inline-img-2 {
    display: flex;
    max-width: 300px;
    width: 100%;
    margin: 10px;
    max-width: 260px;
    border-radius: 100%;
}

.hero-inline-img-1,
.hero-inline-img-2 {
    display: inline-block;
    vertical-align: middle;
}

.hero h4 {
    font-size: 4em;
    margin-bottom: 150px;
    font-family: ubuntu, sans-serif;
    font-weight: 500;
    width: 100%;
    margin: 0 0 30px 0;
    display: flex;
    line-height: 1.05;
}

.hero-copy-box {
    position: absolute;
    top: 40%;
    left: 37%;
    bottom: 80px;
    width: 265px;
    font-size: 0.85em;
    line-height: 1.8em;
    color: rgb(213, 221, 223);
    text-align: left;
    opacity: 0.7;
    gap: 10px;
}

.cta-btn {
    margin-top: 20px;
    display: inline-block;
    width: fit-content;
    padding: 10px 26px;
    font-size: 1.3em;
    font-family: ubuntu, sans-serif;
    color: rgb(255, 212, 212);
    text-decoration: none;
    border: 1.2px solid rgb(255, 234, 234);
    border-radius: 25px;
    background: rgba(194, 7, 7, 0.6);
    backdrop-filter: blur(10px);
    align-content: center;
    margin-bottom: 2px;
}

.hero-copy-box .cta-note {
    display: block;
    margin-top: -4px;
    font-size: 0.65em;
    color: rgb(173, 173, 169);
}

.features-section h3 {
    font-size: 2em;
    margin-bottom: 20px;
    font-family: ubuntu, sans-serif;
    color: rgb(253, 253, 250);
}

.features-section {
    padding: 10px;
    text-align: center;
    font-family: ubuntu, sans-serif;
}

.features-list {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    width: 40%;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px 40px;
    text-align: center;
}

.features-list li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.feature-icon {
    width: 50px;
    height: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    opacity: 0.8;

}

