* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(0, 1, 3);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    min-width: 1200px;
    min-height: 100vh;
    overflow-x: auto;
    overflow-y: auto;
}

.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-top: 80px;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 100px;
    transform: translateY(-50%);
    max-width: 40%;
    font-weight: bold;
    color: white;
    font-family: ubuntu, sans-serif;
}

.hero-section h1 {
    font-size: 90px;
    color: white;
    line-height: 0.95;
}

.hero-section p {
    font-size: 20px;
    color: white;
    font-size: 2em;
    margin-top: 50px;
}

.hero-image {
    position: relative;
    width: min(1200px, 100%);
    height: auto;
    display: block;
    width: fit-content;
    margin: auto;
    min-width: 1200px;
}

.hero-image img {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

.hero-buttons {
    display: flex;
    justify-content: left;
    margin-top: 20px;
    margin-bottom: 50px;
}

.hero-buttons a{
    background-color: #1022e7;
    color: #d5e5f7;
    padding: 10px 24px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bolder;
    text-decoration: none;
    display: inline-block;
}

.newsletter {
    display: absolute;
    border: 1px solid rgb(13, 133, 232);
    padding: 20px 40px;
    background: rgb(13, 133, 232);
    width: 600px;
}

.newsletter input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    font-weight: bold;
    color: rgb(25, 27, 28);
}

.newsletter button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(4, 52, 77);
    color: white;
    font-size: 15px;
    cursor: pointer;
}

.newsletter h2 {
    color: white;
    font-size: 30px;
    margin-bottom: 10px;
}