.navigation-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    padding: 20px 25px 0 5px;
    background: rgb(0, 1, 3);
}

.navigation-menu a {
    color: white;
    margin-right: 50px;
    margin-left: 20px;
    text-decoration: none;
    font-family: ubuntu, sans-serif;
    font-size: 14px;
}

.settings-icon {
    float: right;
}

.settings-icon img {
    width: 25px;
    height: 25px; }