body {
    font-family: Helvetica, sans-serif;
    color: rgb(213, 221, 223);
    margin: 0;
    padding: 0;
    background-color: rgb(15,20,26);
}

.hero {
    position: relative;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
    color: rgb(213, 221, 223);
}

.hero-img {
    width: 100%;
    height: auto;
    display: block;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 10%;
    width: 65%;
    transform: translate(0,-50%);
    border-radius: 10px;
}

.hero-text h4 {
    font-size: 2.5em;
    margin-bottom: 150px;
    font-family: helvetica, sans-serif;
    font: weight 500px;
    width: 50%;
}

.hero-text p {
    font-size: 0.8em;
    line-height: 2em;
    font-family: helvetica, sans-serif;
    width: 50%;
    font-weight: lighter;
}

.features-section {
    padding: 10px;
    text-align: center;

}